/* Structure */

table {
  width: 100%;
}

#des {
  width: 200px;
}

.Filter {
  width: 100%;
  margin: 20px;
  text-align: center;

}

td {
  text-align: center;
}

th {
  text-align: center;
}

mat-form-field {
  margin-left: 20px;
}

#btn {
  max-width: 100%;
  margin: 20px;
}

img {
  max-width: 20rem;
  max-height: 20rem;
}

#Datebtn {
  margin-left: 20px;
  max-width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.penInput {
  min-width: 2rem;
  max-width: 2rem;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.mat-raised-button {
  min-width: 0.5rem;
  max-width: 0.5rem;
}

.center-button {
  text-align: center;
  padding-left: .5em;
}

.center-text {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

button#submit {
  max-width: 100px;
}

.mat-elevation-z8 {
  margin: 30px;
}

.edit {
  background-color: #ffe680;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.comment {
  background-color: #80dbff;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.edit:hover {
  background-color: #ffdb4d;
}

.comment:hover {
  background-color: #ffdb4d;
}

.del {
  background-color: #E9967A;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.del:hover {
  background-color: #F08080;
}

.re {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.re:hover {
  background-color: RoyalBlue;
}
.plus {
  background-color: #009900;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.plus:hover {
  background-color: #008000;
}