<mat-grid-list cols="1" rowHeight="fit">
    <mat-grid-tile>
        <div class="form-register">
            <h3 class="header-text">REGISTER ACTIVITY</h3>
            <form style="margin-left: 1em" [formGroup]="form" #activityForm="ngForm" (submit)="submit()">
                <mat-form-field class="full-width" color="warn">
                    <input matInput placeholder="Activity Name" formControlName="activityName" required>
                </mat-form-field>
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Activity time" formControlName="activityTime" required>
                                <mat-error *ngFor="let validation of validation_messages.activityTime">
                                    <mat-error class="error-message"
                                        *ngIf="addressForm.get('activityTime').hasError(validation.type)"
                                        [innerHTML]=validation.message>
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Location" formControlName="activityLocation"
                                    [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of options" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngFor="let validation of validation_messages.activityLocation">
                                    <mat-error class="error-message"
                                        *ngIf="addressForm.get('activityLocation').hasError(validation.type)"
                                        [innerHTML]=validation.message>
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput [matDatepicker]="actDate" placeholder="Activity Date"
                                    formControlName="activityDate" required>
                                <mat-datepicker-toggle matSuffix [for]="actDate"></mat-datepicker-toggle>
                                <mat-datepicker #actDate></mat-datepicker>
                                <mat-error *ngFor="let validation of validation_messages.activityDate">
                                    <mat-error class="error-message"
                                        *ngIf="addressForm.get('activityDate').hasError(validation.type)"
                                        [innerHTML]=validation.message>
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Period of REQ" formControlName="periodRegistration"
                                    required #spy>
                                <mat-error *ngFor="let validation of validation_messages.periodRegistration">
                                    <mat-error class="error-message"
                                        *ngIf="addressForm.get('periodRegistration').hasError(validation.type)"
                                        [innerHTML]=validation.message>
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Description" formControlName="activityDescription">
                    <mat-error *ngFor="let validation of validation_messages.activityDescription">
                        <mat-error class="error-message"
                            *ngIf="addressForm.get('activityDescription').hasError(validation.type)"
                            [innerHTML]=validation.message>
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-select placeholder="Lecturer" formControlName="lecturers" [(value)]="lecturerId" required>
                        <mat-option *ngFor="let lecturer of lecturers" [value]="lecturer.id">
                            {{ lecturer.name + ' ' + lecturer.surname }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngFor="let validation of validation_messages.lecturers">
                        <mat-error class="error-message" *ngIf="addressForm.get('lecturers').hasError(validation.type)"
                            [innerHTML]=validation.message>
                        </mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="false">
                    <input matInput formControlName="status" value="Pending">
                    <mat-error *ngFor="let validation of validation_messages.status">
                        <mat-error class="error-message" *ngIf="addressForm.get('status').hasError(validation.type)"
                            [innerHTML]=validation.message>
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <div class="btn-regis">
                    <button id="submit" mat-raised-button color="primary" type="submit"
                        [disabled]="!form.valid">Register</button>
                </div>
            </form>
        </div>
    </mat-grid-tile>
</mat-grid-list>