.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
img {
  border-radius: 50%;
}
button a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
mat-toolbar {
  background-color: #BB5544;
}
span img {
  width: 50px;
  margin-right: 20px;
}
.menu-button {
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 35px;
  padding-right: 35px;
}
/* HOVER EFFECT 3 */

.effect-3 a:before,
.effect-3 a:after {
	content: "";
	height: 1px;
	width: 0;
	opacity: 0;
	background-color: #fff;
	position: absolute;
	transition: all .5s;
}

.effect-3 a:before {
	top: -3px;
}

.effect-3 a:after {
	bottom: -3px;
	right: 0;
}

.effect-3 a:hover:before,
.effect-3 a:hover:after {
	width: calc(100% + 20px);
	opacity: 0.7;
}
.profile-button {
  width: 50px;
  right: 10px;
  position: absolute;
}
.log-icon {
  padding-top: 8px;
}