<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <mat-toolbar class="effect-3" *ngIf="hasRole('LECTURER,STUDENT,ADMINISTRATOR')">
            <span><img class="logo" src="../../assets/images/camt-icon.png" /></span>
            <button class="menu-button" type="button" mat-icon-button *ngIf="hasRole('LECTURER,STUDENT,ADMINISTRATOR')">
                <a mat-list-item [routerLink]="['/activitylist']" routerLinkActive="router-link-active">Activity</a>
            </button>
            <button class="menu-button" type="button" mat-icon-button *ngIf="hasRole('LECTURER')">
                <a mat-list-item [routerLink]="['/myList']" routerLinkActive="router-link-active">Add Activities</a>
            </button>
            <button class="menu-button" type="button" mat-icon-button *ngIf="hasRole('LECTURER,ADMINISTRATOR')">
                <a mat-list-item [routerLink]="['/list']" routerLinkActive="router-link-active">Student</a>
            </button>
            <!-- <button class="menu-button" type="button" mat-icon-button>
                <a mat-list-item [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
            </button> -->
            <button class="menu-button" type="button" mat-icon-button *ngIf="hasRole('ADMINISTRATOR')">
                <a mat-list-item [routerLink]="['/activities']" routerLinkActive="router-link-active">Add Activity</a>
            </button>

            <button class="menu-button" type="button" mat-icon-button *ngIf="hasRole('LECTURER,STUDENT,ADMINISTRATOR')">
                <a mat-list-item [routerLink]="['/updateProfile']" routerLinkActive="router-link-active">Update
                    Profile</a>
            </button>

            <button class="menu-button" type="button" mat-icon-button *ngIf="hasRole('STUDENT')">
                <a mat-list-item [routerLink]="['/myList']" routerLinkActive="router-link-active">My List</a>
            </button>

            <div class="profile-button">
                <button type="button" mat-icon-button (click)="openDialog()">
                    <a mat-list-item routerLinkActive="router-link-active">
                        <mat-icon class="log-icon" matSuffix (click)="hide = !hide">{{'account_circle'}}</mat-icon>
                    </a>
                </button>
            </div>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>