.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 380px;
  }
  .form-login {
    opacity: 0.95;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 160px;
    padding-bottom: 240px;
    border-radius: 10px;
    border-width: 5px;
  }
  .logo{
    width: 80px;
    align-self: center;
    padding: 10px;
  }
  mat-grid-list {
    background-image: url('../../assets/images/camt-bg.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  mat-card-content {
      align-self: center;
  }
  mat-card-actions {
    align-self: center;
  }
  mat-card-subtitle {
    align-self: center;
  }
  .submit-button-style {
      margin-bottom: 30px;
  }
  .login-text {
      align-self: center;
      padding: 5px;
  }
  mat-form-field{
    color :  #BB5544;
  }
  mat-form-field input{
    color :  #000;
  }
  .login-button {
    margin-top: 40px;
    background-color: #BB5544;
    
  }
  .dont-have-account {
    font-size: 12px;
    color :  #BB5544;
    border-bottom: whitesmoke;
    float: right;
    align-content: flex-end;
    top: 0;
    right:0;
    margin-top: 0%;
  }
