<mat-grid-list cols="1" rowHeight="fit">
  <form class="form-login" [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="container">
      <mat-card-title class="login-text">
        <img class="logo" src="../../../assets/images/camt.jpg" />
      </mat-card-title>
      <mat-card-subtitle *ngIf="!home">
        Please login to access the resource
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-error *ngIf="isError">
          <strong style="font-size:smaller">Username, and password is incorrect</strong>
        </mat-error>
      </mat-card-subtitle>
      <mat-card-content>
        <div class="row">
          <div class="col-4">
            <mat-form-field class="full-width">
              <input matInput placeholder="User name" formControlName="username">
              <mat-icon matSuffix (click)="hide = !hide">{{'person'}}</mat-icon>
              <mat-error *ngFor="let validation of validation_messages.username">
                <mat-error class="error-message" *ngIf="addressForm.get('username').hasError(validation.type)"
                  [innerHTML]=validation.message>
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field class="full-width">
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                formControlName="password">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngFor="let validation of validation_messages.password">
                <mat-error class="error-message" *ngIf="addressForm.get('password').hasError(validation.type)"
                  [innerHTML]=validation.message>
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <strong class="dont-have-account"> <a class="dont-have-account" mat-list-item
            [routerLink]="['/student-register']" routerLinkActive="router-link-active">Don't have an
            account?</a></strong>
      </mat-card-content>
      <mat-card-actions>
        <div class="row submit-button-style">
          <button class="login-button" mat-raised-button color="primary" type="submit"
            [disabled]="!addressForm.valid">Log in</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-grid-list>