<mat-grid-list cols="1" rowHeight="fit">
    <mat-grid-tile>
        <div class="form-register">
            <h3 class="header-text">UPDATE INFORMATION</h3>
            <form style="margin-left: 1em" [formGroup]="form" #activityForm="ngForm" (submit)="submit()">

                <table class="full-width" cellspacing="0">
                    <img [src]='image' class="center">
                </table>

                <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
                    <input matInput placeholder="file name" formControlName="image">
                    <mat-error *ngFor="let validation of validation_messages.image">
                        <mat-error class="error-message" *ngIf="form.get('image').hasError(validation.type)
                    && (form.get('image').dirty || form.get('image').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>


                <mat-form-field class="full-width">
                    <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Enter your password" formControlName="password">
                    <mat-error *ngFor="let validation of validation_messages.password">
                        <mat-error class="error-message" *ngIf="form.get('password').hasError(validation.type)
                    && (form.get('password').dirty || form.get('password').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>


                <div class="center">
                    <button mat-raised-button color="primary" type="submit">Update</button>
                </div>

            </form>
        </div>
    </mat-grid-tile>
</mat-grid-list>