<div class="content-wrapper" style="min-height: 708px;">
    <section class="content">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="card card-default"
                        style="border-radius: 12px;background-color: rgba(214, 138, 138, 0.671);">

                        <div class="card-header">
                            <h3 class="card-title" style="margin-bottom: 0px;">

                                <img src="https://img.icons8.com/bubbles/50/000000/clock.png">

                                Waiting List</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <!---->
                            <table class="table table-hover" style="font-size: smaller;">
                                <thead>
                                    <tr role="row">
                                        <th style="text-align: center;">Activity Id.</th>
                                        <th style="text-align: center;">Activity name</th>
                                        <th style="text-align: center;">Date</th>
                                        <th style="text-align: center;">Location</th>
                                        <th style="text-align: center;">Registration Time</th>
                                        <th style="text-align: center;">Description</th>
                                        <th style="text-align: center;">Host Teacher</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;">953331</td>
                                        <td style="text-align: center;">Young Dev gaming</td>
                                        <td style="text-align: center;">27/11/2019 09:00</td>
                                        <td style="text-align: center;">CAMT, CMU</td>
                                        <td style="text-align: center;">24/11/2019 - 25/11/2019</td>
                                        <td style="text-align: center;">Giving chance to young dev to showcase their
                                            coding skil</td>
                                        <td style="text-align: center;">Dto</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!---->
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-12">
                    <div class="card card-default"
                        style="border-radius: 12px;border-radius: 12px;background-color: rgba(214, 138, 138, 0.671);">
                        <div class="card-header">
                            <h3 class="card-title" style="margin-bottom: 0px;">
                                <img src="https://img.icons8.com/bubbles/50/000000/checkmark.png">
                                Enrolled</h3>
                        </div>
                        <div class="card-body card-body table-responsive p-0">
                            <!---->
                            <table class="table table-hover" style="font-size: smaller;">
                                <thead>
                                    <tr role="row">
                                        <th style="text-align: center;">Activity Id.</th>
                                        <th style="text-align: center;">Activity name</th>
                                        <th style="text-align: center;">Date</th>
                                        <th style="text-align: center;">Location</th>
                                        <th style="text-align: center;">Registration Time</th>
                                        <th style="text-align: center;">Description</th>
                                        <th style="text-align: center;">Host Teacher</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;">953332</td>
                                        <td style="text-align: center;">Loy Krathong</td>
                                        <td style="text-align: center;">11/11/2019 06:30</td>
                                        <td style="text-align: center;">Ang Kaew</td>
                                        <td style="text-align: center;">11/19/2019 - 11/10/2019</td>
                                        <td style="text-align: center;">People gather around lakes, rivers and canals to
                                            pay respects to the goddess of water</td>
                                        <td style="text-align: center;">Prayuth</td>

                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">111222</td>
                                        <td style="text-align: center;">Happy</td>
                                        <td style="text-align: center;">05/12/2019 00:30</td>
                                        <td style="text-align: center;">Ang Kaew</td>
                                        <td style="text-align: center;">05/12/2019 - 05/12/2019</td>
                                        <td style="text-align: center;">Work!!!</td>
                                        <td style="text-align: center;">LOL</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="movesection" tabindex="-1" role="dialog" aria-labelledby="moveLabel" aria-hidden="true"
                    class="modal fade" style="z-index: 10000;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header reg-header-color">
                                ย้าย Section
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover" style="font-size: smaller;">
                                    <thead>
                                        <tr role="row">
                                            <th style="text-align: center;">SecLec</th>
                                            <th style="text-align: center;">SecLab</th>
                                            <th style="text-align: center;">Condition</th>
                                            <th style="text-align: center;">Day</th>
                                            <th style="text-align: center;">Time</th>
                                            <th style="text-align: center;">Room</th>
                                            <th style="text-align: center;">Lecturer</th>
                                            <th style="text-align: center;">Seat</th>
                                            <th style="text-align: center;">Enroll</th>
                                            <th style="text-align: center;">Add</th>
                                            <th style="text-align: center;">Move</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <!----> <br>
                            <div class="modal-footer"><button type="button" data-dismiss="modal"
                                    class="btn btn-secondary">Close</button></div>
                        </div>
                    </div>
                </div>
                <div id="movesectionlab" tabindex="-1" role="dialog" aria-labelledby="moveLabel" aria-hidden="true"
                    class="modal fade" style="z-index: 10000;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header reg-header-color">
                                ย้าย Section
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover" style="font-size: smaller;">
                                    <thead>
                                        <tr role="row">
                                            <th style="text-align: center;">SecLec</th>
                                            <th style="text-align: center;">SecLab</th>
                                            <th style="text-align: center;">Condition</th>
                                            <th style="text-align: center;">Day</th>
                                            <th style="text-align: center;">Time</th>
                                            <th style="text-align: center;">Room</th>
                                            <th style="text-align: center;">Lecturer</th>
                                            <th style="text-align: center;">Seat</th>
                                            <th style="text-align: center;">Enroll</th>
                                            <th style="text-align: center;">Add</th>
                                            <th style="text-align: center;">Move</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <!----> <br>
                            <div class="modal-footer"><button type="button" data-dismiss="modal"
                                    class="btn btn-secondary">Close</button></div>
                        </div>
                    </div>
                </div>
                <div id="courseinfo" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true"
                    class="modal fade" style="z-index: 10001;">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header reg-header-color">
                                <!---->
                                <h5 class="modal-title">Course's Info</h5> <button type="button" data-dismiss="modal"
                                    aria-label="Close" class="close reg-header-color"><span
                                        aria-hidden="true">×</span></button>
                            </div>
                            <form>
                                <!---->
                                <div>
                                    <h1 align="center">Loading...</h1>
                                    <div data-v-31ad46aa="" class="half-circle-spinner center"
                                        style="height: 137px; width: 137px;">
                                        <div data-v-31ad46aa="" class="circle circle-1"
                                            style="border-top-color: rgb(176, 83, 178); border-width: 13.7px; animation-duration: 777ms;">
                                        </div>
                                        <div data-v-31ad46aa="" class="circle circle-2"
                                            style="border-bottom-color: rgb(176, 83, 178); border-width: 13.7px; animation-duration: 777ms;">
                                        </div>
                                    </div>
                                </div> <br>
                                <!---->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!---->
        </div>
        <div class="__cov-progress"
            style="background-color: rgb(238, 47, 229); opacity: 0; position: fixed; top: 0px; left: 0px; width: 0%; height: 2px; transition: opacity 0.6s ease 0s;">
        </div>
    </section>
</div>