<mat-grid-list cols="1" rowHeight="fit">
    <mat-grid-tile>
        <div class="form-register">
            <h3 class="header-text">REGISTER STUDENT <button mat-raised-button color="primary" type="submit"
                    class="sign-up" [routerLink]="['/login']" routerLinkActive="router-link-active">X</button></h3>
            <form style="margin-left: 1em" [formGroup]="form" #activityForm="ngForm" (submit)="submit()">
                <mat-form-field class="full-width" color="warn">
                    <input matInput placeholder="Student Id" formControlName="studentId" required #spy>
                    <mat-error *ngFor="let validation of validation_messages.studentId">
                        <mat-error class="error-message" *ngIf="form.get('studentId').hasError(validation.type)
                    && (form.get('studentId').dirty || form.get('studentId').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>


                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="First name" formControlName="name" required>
                                <mat-error *ngFor="let validation of validation_messages.studentId">
                                    <mat-error class="error-message" *ngIf="form.get('name').hasError(validation.type)
                                && (form.get('name').dirty || form.get('name').touched)">
                                        {{validation.message}}
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="surname" formControlName="surname" required>
                                <mat-error *ngFor="let validation of validation_messages.surname">
                                    <mat-error class="error-message" *ngIf="form.get('surname').hasError(validation.type)
                                && (form.get('surname').dirty || form.get('surname').touched)">
                                        {{validation.message}}
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <!-- <form>
                <mat-file-upload [labelText]="'Select your images:'" [selectButtonText]="'Choose File'"
                    [uploadButtonText]="'Submit'" [allowMultipleFiles]="false" [showUploadButton]="true"
                    [acceptedTypes]="'.png, .jpg, .jpeg'" 
                    (uploadClicked)="onUploadClicked($event)" (selectedFilesChanged)="onSelectedFilesChanged($event)">
                </mat-file-upload>
                <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>
            </form> -->

                <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
                    <input matInput placeholder="file name" formControlName="image">
                    <mat-error *ngFor="let validation of validation_messages.image">
                        <mat-error class="error-message" *ngIf="form.get('image').hasError(validation.type)
                && (form.get('image').dirty || form.get('image').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="actDate" placeholder="Date of Birth" formControlName="dob">
                    <mat-datepicker-toggle matSuffix [for]="actDate"></mat-datepicker-toggle>
                    <mat-datepicker #actDate></mat-datepicker>
                    <mat-error *ngFor="let validation of validation_messages.dob">
                        <mat-error class="error-message" *ngIf="form.get('dob').hasError(validation.type)
                    && (form.get('dob').dirty || form.get('dob').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>




                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" formControlName="username">

                    <mat-error *ngFor="let validation of validation_messages.username">
                        <mat-error class="error-message" *ngIf="form.get('username').hasError(validation.type)
                    && (form.get('username').dirty || form.get('username').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                        formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngFor="let validation of validation_messages.password">
                        <mat-error class="error-message" *ngIf="form.get('password').hasError(validation.type)
                    && (form.get('password').dirty || form.get('password').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>


                <div class="center">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Sign Up</button>
                </div>
            </form>
        </div>
    </mat-grid-tile>
</mat-grid-list>