<div *ngIf="user">
    <img mat-card-lg-image [src]="user.image || defaultImageUrl">
    <div>
        <mat-card-title class="user-name">
            Name: {{getUserName()}}
        </mat-card-title>
    </div>
    <div class="user-name">
        <mat-card-title>
            Role: {{getUserRole()}}
        </mat-card-title>
    </div>
    <div>
        <mat-card-title class="button-logout">
            <button type="button" (click)="userLogout()">Log out</button>
        </mat-card-title>
    </div>
</div>