img {
    width: 500px;
    height: auto;
}

button {
    color: white;
    background-color: #BB5544;
    align-self: center;
}

button:hover {
    background-color: aliceblue;
    color: #BB5544;
}

.button-logout {
    align-self: center;
    margin-left: 200px;
    margin-top: 20px;
}

.user-name {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 150px;
}